.jumbotron{
    background-color: lightgrey;
}
.modal {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}
.modal-content{
    background-color: #f4f4f4;
    margin: 40% auto;
    padding:20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}